h1 {
  margin-bottom: 30px;
  text-align: center;
}

#hal-image {
  display: block;
  margin: 40px auto 20px auto;
  width: 20%;
}

h4 {
  margin: 0 auto 20px auto;
  max-width: 800px;
}

#input {
  font-size: 2em;
  height: 50px;
  margin: 10px 0;
}

#submit {
  display: block;
  margin: 0 auto;
}

#submit:focus {
  outline: none;
}

#result-box {
  display: none;
  max-height: 200px;
  overflow: scroll;
  padding: 5px;
}

#result {
  margin: 0 auto;
  padding: 0 10px 10px 10px;
}

