h1 {
  margin-bottom: 30px;
  text-align: center;
}

#hal-image {
  display: block;
  margin: 40px auto 40px auto;
  transition: 1s;
  width: 20%;
}

.rotate {
  transition: 1s;
  -ms-transform: rotate(20deg); /* IE 9 */
  -webkit-transform: rotate(20deg); /* Safari */
  transform: rotate(20deg);
}

h4 {
  margin: 30px auto;
  width: 80%;
  max-width: 700px;
}

#input {
  font-size: 2em;
  height: 50px;
  margin: 10px auto;
  width: 80%;
  max-width: 700px;
}

#submit {
  display: block;
  margin: 0 auto;
}

#submit:focus {
  outline: none;
}

#result-box {
  display: none;
  max-height: 200px;
  margin: 25px auto;
  overflow: scroll;
  padding: 5px;
}

#result {
  margin: 0 auto;
  padding: 0 10px 10px 10px;
}

/* responsive styles */
@media screen and (max-width: 600px) {
  h4 {
    width: 100%;
  }

  #input {
    width: 100%;
  }
}
