h1 {
  margin-bottom: 30px;
  text-align: center;
  font-family: 'Geostar Fill', cursive;
}

.text-shadow {
  text-shadow: 1px 1px #ada4a4;
}

.red-text-shadow {
  color: #a94442;
  text-shadow: 1px 1px #ada4a4;
}

#hal-image {
  box-shadow: 2px 2px 10px #4e4e4e;
  display: block;
  margin: 40px auto 40px auto;
  transition: 1s;
  width: 30%;
}

h4 {
  font-family: 'Play', sans-serif;
  margin: 30px auto;
  width: 80%;
  max-width: 700px;
}

#input {
  font-family: 'Play', sans-serif;
  font-size: 2em;
  height: 50px;
  margin: 10px auto;
  width: 80%;
  max-width: 700px;
}

#submit {
  font-family: 'Play', sans-serif;
  display: block;
  margin: 0 auto;
}

#submit:focus {
  outline: none;
}

#result-box {
  box-shadow: 2px 2px 20px rgba(129,0,0,0.88);
  display: none;
  max-height: 200px;
  margin: 25px auto 45px auto;
  overflow: scroll;
  padding: 5px;
  width: 80%;
  max-width: 700px;
}

#result {
  font-family: 'Play', sans-serif;
  margin: 0 auto;
  padding: 0 10px 10px 10px;
}

/* responsive styles */
@media screen and (max-width: 1000px) {
  #hal-image {
    width: 60%;
  }
}

@media screen and (max-width: 700px) {
  #hal-image {
    width: 50%;
  }
}

@media screen and (max-width: 600px) {
  h4, #input, #result-box {
    width: 100%;
  }
}

@media screen and (max-width: 500px) {
  #hal-image {
    width: 100%;
  }
}
